#word_cloud {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
}

#model_content {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    color: dimgrey;
    top: 0px;
    right: 10px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

.btn, .sentimental_analysis_btn {
    background-color: lightsteelblue;
    border-radius: 4px;
}

#sentimental_analysis {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#sentimental_analysis_content {
    width: 1000px;
    height: 200px;
    background-color: white;
    border-radius: 7px;
    position: relative;
}

#sentimental_analysis_model {
    position: absolute;
    top: 40px;
    left: 10px;
}